# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/
.Rproj.user

# R Environment Variables
.Renviron

*.csv
figures/
data/
